@{
ViewData["Title"] = "Contact us";
}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 py-4 text-center">
        <h1 class="fw-bolder ">About MtnSports</h1>
        <p class="big">What’s behind the boards.</p>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Work Beautifully Together</h2>
                <p class="lead">When we started in 2003, we set out to do things differently. 
                    We wanted to show all winter equipment in one place, creating a simple alternative to the confusing 
                    sites that make renting feel like hard work. We believe winter sports are a force for good. Our brands help us strengthen connections, 
                    broaden horizons and bridge divides. We are among the largest technology companies in the world, 
                    and our work is solely dedicated to one of the most socially and economically important activities 
                    on the planet – sport.</p>
            </div>
        </div>
    </div>
</section>
<!-- Services section-->
<section class="bg-light" id="services">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <p class="lead">Our winter brands represent the world's most comprehensive selection of 
                    renting offerings. From personal to business, last minute to expenses, we’ve got it. 
                    These options are backed by industry leading technology and a worldwide team of passionate 
                    employees whose focus is creating the best winter experience..</p>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">Address: Strada Madona Dudu Nr 35, Craiova 200410</p>
                <p class="lead">Phone: +40-251-438.198</p>
                <p class="lead">E-mail: mtnsports@gmail.com</p>
            </div>
        </div>
    </div>

    <div style="width: 100%">
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Strada%20Madona%20Dudu%20Nr%2035,%20Craiova%20200410+
                ()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/truck-gps/">Monity map</a>
        </iframe>
    </div>
</section>
