@page "/Register"
@model RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MtnSports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<body>
    <div class="container container-register mt-5 py-3 d-flex justify-content-center col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="text-center">
                <h2 class="">Sign up</h2>
                <h6 class="text-muted">Create your account here</h6>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating my-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-check  my-3">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                 <label class="form-check-label">
                    I agree with the <a class="fw-bold"><u>Terms and conditions</u></a>
                 </label>
            </div>
      
            <div class="d-flex justify-content-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
            </div>

            <p class="text-center text-muted mt-3 mb-1">Have already an account? <a href="Login" class="fw-bold"><u>Login here</u></a></p>

        </form>
    </div>
</body>
</html>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
